
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #A2D2FF;
    text-align: center;
}


.title {
    color: #5A8FCA;
    padding: 0.5rem;
    background-color: azure;
    display: inline;
    border-radius: 0.75rem;
}

.container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    font-size: 2.8rem;
    font-family: 'Lucida Sans', Verdana, sans-serif;
    color: #ff9dc1;
    background-color: #BDE0FE;
    border: 2px solid #f5f5dc;
}


#reset-btn {
    font-size: 1.5rem;
    padding: 0.8rem;
    border-radius: 1rem;
    border: none;
    background-color: #e8ced7;
    color: #000000;
    margin-top: 1rem;
}

.msg-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffffcc; 
    padding: 1rem 2rem;
    border-radius: 0.75rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.msg {
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #5A8FCA;
}

.hide {
    display: none;
}

/* Responsive  */

@media (max-width: 600px) {
    .title {
        font-size: 1.5rem; 
    }
    
    .game {
        height: 80vmin; /* Make the grid a bit larger on mobile */
        width: 80vmin;
    }
    
    .box {
        height: 24vmin; /* Larger boxes for mobile touch accessibility */
        width: 24vmin;
        font-size: 2rem; 
    }
    
    #reset-btn {
        font-size: 1.2rem; 
        padding: 0.5rem; 
    }
    
    .msg {
        font-size: 1.2rem; 
    }
}